.first-section{
    padding-top: 30px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/images/bg-hero-desktop.svg);
    height: 700px;
}
.try-button{
    background-color: white;
    padding: 8px 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 5px grey;
}
.image{
    width: 12rem;
}