.first-section{
    padding-top: 60px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 650px;
}
.try-button{
    background-color: white;
    padding: 8px 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 3px hsl(229, 6%, 66%);
}
.image{
    width: 12rem;
}
.get-started{
    background-color: hsl(322, 100%, 66%);
    padding: 12px 60px;
    border: none;
    border-radius: 25px;
    color: white;
}
.mockup-img{
    width: 110%;
}
.box-body{
    width: 65rem;
    height: 22rem;
    align-items: center;
}
.text-body{
    width: 420px;
    font-size: 15px;
    font-family: 'Open Sans';
}
.text-head{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}
.cta-card{
    box-shadow: 0 0 5px #ccc;
    width: 40rem;
    height: 15rem;
    position: relative;
    top: 6rem;
    background-color: white;
    padding-top: 60px;
    padding-left: 160px;
}

.footer{
    background-color: hsl(192, 100%, 9%);
    height: 30rem;
}
.footer-items{
    display: flex;
    gap: 150px;
}
.contacts{
    display: flex;
    gap: 15px;
    color: white;
    width: 350px;
}
.about-sec{
    color: white;
}
.socials{
    display: flex;
    gap: 15px;
    color: white;
}
i{
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 20px;
}
.copy-right{
    color: white;
    margin-left: 70%;
    font-size: 13px;
}
/* @media screen and (max-width: 375px) {
    .first-section{
        display: flex;
        flex-wrap: wrap;
       text-align: center;
    }
    .text-head{
        display: flex;
        gap: 20px;
    }
   .try-button{
    width: 110%;
    font-size: 70%;
   }
   .image-head{
    width: 50%;
   }
} */